<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CikSpeed</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: sans-serif;
        background-color: #05081b;
        color: #e1fcff;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
      }

      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>SERVER IS RUNNING 🚀</h1>
     
  </body>
</html>
